* {
  border: 0px none;
  outline: 0px;
  padding: 0px;
  margin: 0px;
  font-family: "Comic Sans MS", sans-serif;
}

/* General */

.flex {
  display: flex;
}

.justify-around {
  justify-content: space-around;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-evenly {
  justify-content: space-between;
}
.justify-start {
  justify-content: flex-start;
}

.items-center {
  align-items: center;
}
.items-end {
  align-items: flex-end;
}
.items-start {
  align-items: flex-start;
}

.flex-column {
  flex-direction: column;
}

.col-1 {
  flex: 1;
}
.col-2 {
  flex: 2;
}
.col-3 {
  flex: 3;
}
.col-4 {
  flex: 4;
}
.col-5 {
  flex: 5;
}

.gap-1 {
  gap: 0.5em;
}
.gap-2 {
  gap: 1em;
}
.gap-3 {
  gap: 1.5em;
}
.gap-4 {
  gap: 2em;
}
.gap-5 {
  gap: 2.5em;
}

ul {
  list-style-type: none;
}

input {
  border: 2px solid black;
  padding: 10px;
}

.btn {
  padding: 10px 20px;
  background-color: crimson;
  color: white;
  font-size: larger;
  border-radius: 5px;
}

main {
  border: 2px solid black;
  padding: 20px;
  height: 500px;
  width: 75%;
  margin: 20px 10% 0px 10%;
}

main img {
  width: 300px;
  height: 300px;
}