* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  padding: 0 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: blanchedalmond;
}

.header h1 {
  flex:3
}

.header-buttons {
  /* background-color: red; */
  display: flex;
  justify-content: space-around;
  flex: 2;
}

.main {
  display: flex;
  justify-content: space-between;
  /* margin: 20px; */
  margin-top: 20px;
  gap: 20px;
}

.left-column {
  flex: 3;
}

.right-column {
  flex: 2;
}

.border {
  border: 2px solid black;
}

.container {
  margin-bottom: 20px;
  padding: 10px;
}

.box {
  height: 20px;
  width: 20px;
  background-color: deeppink;
  margin: 5px;
  display: inline-block;
}

