* {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  margin: 0;
  padding: 0; 
}

.d-flex {
  display: flex;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.col-1 {
  flex: 1;
}

.col-2 {
  flex: 2;
}

.col-3 {
  flex: 3;
}

.easybaygreen {
  background-color: rgb(65,209,178);
}

.easybaylightgreen {
  background-color: rgb(170,232,216);
}

.text-white {
  color: white;
}

.wrapper {
  padding: 20px 40px;
}

.header {
  align-items: center;
  margin-bottom: 20px;
}

.search {
  height: 30px;
  width: 50%;
  border-radius: 20px;
  padding: 0px 10px;
  background-image: url("./images/search-dark.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 30px;
  background-origin: content-box;
}

.nav {
  border-bottom: 5px solid black;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.title {
  margin-bottom: 20px;
  text-align: center;
}

.main {
  gap: 40px;
  margin-bottom: 40px;
}

.discover div {
  padding: 30px;
  flex-direction: column;
  align-items: center;
}


.discover div h2, .side h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side {
  flex-direction: column;
}

.side h2 {
  justify-content: start;
  padding-left: 20px;
}

.plant {
  padding: 30px 20px;
}

.plant img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.plant h4 {
  text-align: center;
}

.cookies {
  background-color: white;
  align-items: center;
  border: 2px solid black;
  width: 800px;
  padding: 10px 20px; 
  position: fixed;
  bottom: 0px;
  left: 10%;
  gap: 10px;
}

.cookies button {
  width: 100px;
  box-shadow: 4px 3px black;
}

