* {
  font-family: Comic Sans MS; 
}

h1 {
  color: blue;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif; 
  /* display: inline; */
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
}

ul {
  border: 1px solid red;
  display: inline;
}

li {
  background-color: blanchedalmond;
  display: inline;
}

/* CSS Classes */
/* class is a way of adding to CSS to anything we put */
/* the class on */
.border {
  border: 5px dotted blue;
}

.bg-black {
  background-color: black;
  color: white;
  font-family: monospace; 
  /* text-align: end; */
}

/* CSS IDs */
/* id is a way to specifying the CSS for ONE thing */
/* #banana {
  background-color: yellow;
  color: cyan;
} */



.quote {
  background-color: maroon;
}

div.quote p {
  color: aliceblue;
}


/* MARGIN COLLAPSING */
#box-1, #box-2, #box-3{
  height: 100px;
  width: 100px;
  background-color: red;
}
#box-1{
  margin: 20px;
}
#box-2{
  margin: 30px;
}
#box-3{
  margin: 40px;
}

/* DISPLAY INLINE VS INLINE-BLOCK */
.inlineDemo {
  display: inline-block;
  width: 160px;
  box-sizing: border-box;
  padding: 20px;
  background-color: cyan;
  margin: 50px;
  vertical-align: top;
}