* {
  padding: 0;
  margin: 0;
  font-family: 'Jura', sans-serif;
  color: white;
}

.nav {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(20,20,20,.95);
  padding: 20px 16px;
  gap: 50px;
  position: fixed;
  top:0;
  left:0;
  right: 0;
}

.nav svg {
  height: 40px;
  width: 170px;
  flex: 1;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  flex: 6;
  /* gap: 20px; */
}

.nav-links li {
  list-style-type: none;
}

.nav-links svg {
  height: 16px;
  width: 16px;
}

.nav-buttons {
  flex: 1;
  margin-left: 40px;
  display: flex;
  justify-content: flex-end;
}

.yellow-border {
  border: 1px solid rgb(249,192,28);
  padding: 2px;
  background-color: black;
}

.get-halo {
  width: 164px;
  height: 45px;
  background-color: rgb(249,192,28);
  color: black;
  font-size: 14pt;
}

.get-halo:hover {
  transform: scale(0.9);
}

.sign-in {
  font-size: 14pt;
  padding: 30px;
  background-color: rgba(20,20,20,1.0);
}


.main {
  background-image: url("https://i.insider.com/60cb68f320bd1300181c6d68?width=1000&format=jpeg&auto=webp");
  height: 1000px;
  background-repeat: no-repeat;
  background-size:cover;
  display: flex;
  align-items: center;
}
/* .nav-buttons button {
  margin-left: auto;
  margin-right: 0px;
} */

.main-content {
  width: 600px;
  border: 1px solid red;
}

.os {
  display: flex;
}

.box {
  width: 80px;
  height: 25px;
  background-color: orange;
}

#red {
  background-color: red;
}




