* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  padding: 20px;
}

.events {
  background-color: blanchedalmond;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.scoreboard-sort {
  padding: 10px;
  border-radius: 10px;
}

.scoreboard {
  background-color: white;
  display: flex;
}

.score {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 10px;
}


.nav {
  background-color: #2B2C2D;
  height: 50px;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0px 20px; */
}

.nav-left {
  display: flex;
  width: 500px;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  margin-left: 20px;
}

.logo {
  background: linear-gradient(90deg, firebrick 7%, red 7%, red 93%, firebrick 93%);
  padding: 2px 20px;
  transform: skew(-20deg);
  color: white;
  text-align: center;
  font-family: 'ESP_Italic', sans-serif;
  margin-right: 20px;
}

.logo h2 {
  /* display: inline-block; */
  transform: skew(20deg);
}

.nav-links {
  display: flex;
  width: 350px;
  list-style-type: none;
  justify-content: space-around;
  gap: 10px;
}

.nav-links img {
  width: 20px;
  height: 20px;
}

.nav-right {
  display: flex;
  justify-content: space-between;
  width: 400px;
  list-style-type: none;
  margin-right: 20px;
}

.main {
  background-color: aqua;
  height: 500px;
  display: flex;
  justify-content: center;
  gap: 30px;
  border: 2px solid green;
  padding-left: 30px;
  padding-right: 30px;
}

.main div {
  background-color: gray;
  height: 400px;
  border: 1px solid red;
  flex: 1;
  border-radius: 5%;
}

.main .middle {
  flex: 2;
}

/* .left
.right {
  flex: 1;
}

.middle {
  flex: 1;
} */